.hero{
    background-image: url(./../images/hero-bacground.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 167px;
    &__container{
        padding-left: 65px;
    }
    
    &__heading{
        width: 188px;
        font-family: "Fraunces";
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        padding-top: 136px;
        color: #FEFCF7;

    }
    
    &__text{
        width: 445px;
        font-family:"Barlow";
        font-size: 16px;
        line-height: 26px; 
        padding-bottom: 138px;
        color: #FEFCF7;

    }
}